#### Lession 1 of [Udacity Free Course](https://classroom.udacity.com/courses/ud198)

Some of the most popular databases include:
1. MySQL
2. Access
3. Oracle
4. Microsoft SQL Server
5. Postgres<br>

For a comparision of their small difference, check out this [article](https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-management-systems)<br>
<br>
**entity relationship diagram (ERD)**: A diagram that shows how data is structured in a database.<br>
<br>
<img src="https://video.udacity-data.com/topher/2017/August/59821d7d_screen-shot-2017-08-02-at-11.14.25-am/screen-shot-2017-08-02-at-11.14.25-am.png" width=600 /><br>

#### STATEMENTS (and pandas counter part)
1. CREATE TABLE is a statement that creates a new table in a database. (e.g. pd.DataFrame)
2. DROP TABLE is a statement that removes a table in a database. (e.g. df.drop() (not exact match))
3. SELECT allows you to read data and display it. This is called a query. indicates which column(s) you want to be given the data for. (e.g. df.loc[]). <br> 

#### CLAUSES: 
- SELECT *
1. **AS** derived column <br> _,-,*,/<br> e.g. SELECT id, (standard_amt_usd/total_amt_usd)*100 AS std_percent, total_amt_usd
1. **FROM** specifies from which table(s) you want to select the columns. Notice the columns need to exist in this table.
2. **WHERE** <br> for numeric: >, <, >=, <=, =, != <br> for non-numeric w/ quote: =, !=, LIKE, NOT, or IN <br> use before order by.
3. **ORDER BY** sort. default sort by accending, use ORDER BY <Column name> DESC for descending order <br>
always comes in a query after the SELECT and FROM statements, but before the LIMIT statement. <br> can order by multiple columns at once.
4. **LIMIT** sort data. very last part of a query. e.g. SELECT * FROM orders LIMIT 10;
<br>

#### Logical Operators: 
primarily used in **WHERE** <br>
1. **LIKE** This allows you to perform operations similar to using WHERE and =, but for cases when you might not know exactly what you are looking for. <br>
    wild card '%google%'. **%** character or any number of character.
2. **IN** This allows you to perform operations similar to using WHERE and =, but for more than one condition.<br>
    WHERE account_id IN (1001, 1021); WHERE name in ('Walmart', 'Target', 'Nordstrom')
3. **NOT** This is used with **IN** and **LIKE** to select all of the rows **NOT LIKE** or **NOT IN** a certain condition. <br>
    WHERE account_id NOT IN (1001, 1021); NOT LIKE '%google%'
4. **AND & BETWEEN** These allow you to combine operations where all combined conditions must be true. <br>
    examples:<br>
    WHERE column BETWEEN 6 AND 10 <br>
    occurred_at BETWEEN '2016-01-01' AND '2017-01-01'<br>
5. **OR** This allows you to combine operations where at least one of the combined conditions must be true.
    examples:<br>
    SELECT *<br>
        FROM accounts<br>
        WHERE (name LIKE 'C%' OR name LIKE 'W%') <br>
                AND ((primary_poc LIKE '%ana%' OR primary_poc LIKE '%Ana%') AND primary_poc NOT LIKE '%eana%');<br>

#### Recap
**Commands**
| Statement | How to Use It | Other Details |
| --- | --- | --- |
| SELECT | SELECT Col1, Col2, ... | Provide the columns you want |
| FROM | FROM Table | Provide the table where the columns exist |
| LIMIT | LIMIT 10 | Limits based number of rows returned |
| ORDER BY | ORDER BY Col | Orders table based on the column. Used with DESC. |
| WHERE | WHERE Col > 5 | A conditional statement to filter your results |
| LIKE | WHERE Col LIKE '%me%' | Only pulls rows where column has 'me' within the text |
| IN | WHERE Col IN ('Y', 'N') | A filter for only rows with column of 'Y' or 'N' |
| NOT | WHERE Col NOT IN ('Y', 'N') | NOT is frequently used with LIKE and IN |
| AND | WHERE Col1 > 5 AND Col2 < 3 | Filter rows where two or more conditions must be true< |
| OR | WHERE Col1 > 5 OR Col2 < 3 | Filter rows where at least one condition must be true |
| BETWEEN | WHERE Col BETWEEN 3 AND 5 | Often easier syntax than using an AND |