#### Lession 2 of [Udacity Free Course](https://classroom.udacity.com/courses/ud198)

#### Database Normalization
There are essentially three ideas that are aimed at database normalization:
1. Are the tables storing logical groupings of the data?
2. Can I make changes in a single location, rather than in many tables for the same information?
3. Can I access and manipulate data quickly and efficiently?<br>
To learn more, read [SQL by Design](https://www.itprotoday.com/sql-server/sql-design-why-you-need-database-normalization)

#### JOIN
**examples**<br>
<br>
SELECT orders.*, accounts.*<br>
FROM demo.orders<br>
JOIN demo.accounts<br>
ON orders.account_id = accounts.id<br>
<br>
SELECT web_events.channel, accounts.name, orders.total<br>
FROM web_events<br>
JOIN accounts<br>
ON web_events.account_id = accounts.id<br>
JOIN orders<br>
ON accounts.id = orders.account_id<br>
<br>
**Inner join** is impemented by default <br>
**LEFT JOIN** <br>
**RIGHT JOIN** <br>
**OUTER JOIN** return the inner join result set, as well as any unmatched rows from either of the two tables being joined. returns rows that do not match one another from the two tables <br>
**NOTE**: One SHOULD ALWAYs have the PK equal to the FK! But, this is not strictly enforced as seen in above example.<br>
<br>
**Trick:**<br>
1. Alias: FROM tablename AS t1 JOIN tablename2 AS t2, or FROM tablename t1 JOIN tablename2 t2

#### FILTERING JOIN
**WHERE** join table first, then filter
**AND** join only table that fit the criteria.

**entity relationship diagram (ERD)**: A diagram that shows how data is structured in a database.<br>
**PK** here stands for primary key. A primary key exists in every table, and it is a column that has a unique value for every row. Generally, only one exist in each table, but some database might not enforce this.<br>
**FK**:A foreign key is a column in one table that is a primary key in a different table.<br>
<br>
<img src="https://video.udacity-data.com/topher/2017/August/59821d7d_screen-shot-2017-08-02-at-11.14.25-am/screen-shot-2017-08-02-at-11.14.25-am.png" width=600 /><br>


#### QUIZ
2. Provide a table that provides the region for each sales_rep along with their associated accounts. This time only for accounts where the sales rep has a first name starting with S and in the Midwest region. Your final table should include three columns: the region name, the sales rep name, and the account name. Sort the accounts alphabetically (A-Z) according to account name.<br>
<br>
SELECT  region.name AS region_name, sales_reps.name AS sales_reps_name, accounts.name AS accounts_name
FROM accounts
JOIN sales_reps
ON accounts.sales_rep_id = sales_reps.id
AND sales_reps.name LIKE 'S%'
JOIN region
ON sales_reps.region_id = region.id
AND region.name = 'Midwest'
ORDER BY accounts_name
<br>
<br>
4. Provide the name for each region for every order, as well as the account name and the unit price they paid (total_amt_usd/total) for the order. However, you should only provide the results if the standard order quantity exceeds 100 and the poster order quantity exceeds 50. Your final table should have 3 columns: region name, account name, and unit price. Sort for the smallest unit price first. In order to avoid a division by zero error, adding .01 to the denominator here is helpful (total_amt_usd/(total+0.01).<br>
<br>
SELECT  region.name AS region_name, accounts.name AS accounts_name, orders.total_amt_usd/(orders.total+0.01) AS unit_price
FROM orders
JOIN accounts
ON orders.account_id = accounts.id
orders.total_amt_usd/(orders.total+0.01) AS unit_price
AND orders.standard_qty>100
AND orders.poster_qty>50
JOIN sales_reps
ON accounts.sales_rep_id = sales_reps.id
JOIN region
ON sales_reps.region_id = region.id
ORDER BY unit_price
<br>
<br>
7. What are the different channels used by account id 1001? Your final table should have only 2 columns: account name and the different channels. You can try SELECT DISTINCT to narrow down the results to only the unique values.
<br>
<br>
SELECT DISTINCT web_events.channel, accounts.*
FROM web_events
JOIN accounts
ON web_events.account_id = accounts.id
AND accounts.id=1001
<br>
<br>
8. Find all the orders that occurred in 2015. Your final table should have 4 columns: occurred_at, account name, order total, and order total_amt_usd.
<br>
<br>
SELECT o.occurred_at, o.total, o.total_amt_usd, a.name as accounts_name
FROM orders o
JOIN accounts a
ON o.account_id = a.id
AND o.occurred_at BETWEEN '2015-01-01' AND '2016-01-01'
ORDER BY o.occurred_at DESC;
<br>
<br>

#### Recap
Primary and Foreign Keys<br>
You learned a key element for JOINing tables in a database has to do with primary and foreign keys:<br>
<br>
primary keys - are unique for every row in a table. These are generally the first column in our database (like you saw with the id column for every table in the Parch & Posey database).<br>
<br>
foreign keys - are the primary key appearing in another table, which allows the rows to be non-unique.<br>
<br>
Choosing the set up of data in our database is very important, but not usually the job of a data analyst. This process is known as Database Normalization.<br>
<br>
JOINs<br>
In this lesson, you learned how to combine data from multiple tables using JOINs. The three JOIN statements you are most likely to use are:<br>
<br>
JOIN - an INNER JOIN that only pulls data that exists in both tables.<br>
LEFT JOIN - pulls all the data that exists in both tables, as well as all of the rows from the table in the FROM even if they do not exist in the JOIN statement.<br>
RIGHT JOIN - pulls all the data that exists in both tables, as well as all of the rows from the table in the JOIN even if they do not exist in the FROM statement.<br>
There are a few more advanced JOINs that we did not cover here, and they are used in very specific use cases. UNION and UNION ALL, CROSS JOIN, and the tricky SELF JOIN. These are more advanced than this course will cover, but it is useful to be aware that they exist, as they are useful in special cases.<br>
<br>
Alias<br>
You learned that you can alias tables and columns using AS or not using it. This allows you to be more efficient in the number of characters you need to write, while at the same time you can assure that your column headings are informative of the data in your table.<br>