#### Lession 2 of [Udacity Free Course](https://classroom.udacity.com/courses/ud198)

#### Database Normalization
There are essentially three ideas that are aimed at database normalization:
1. Are the tables storing logical groupings of the data?
2. Can I make changes in a single location, rather than in many tables for the same information?
3. Can I access and manipulate data quickly and efficiently?<br>
To learn more, read [SQL by Design](https://www.itprotoday.com/sql-server/sql-design-why-you-need-database-normalization)

#### JOIN
**examples**<br>
<br>
SELECT orders.*, accounts.*<br>
FROM demo.orders<br>
JOIN demo.accounts<br>
ON orders.account_id = accounts.id<br>
<br>
SELECT web_events.channel, accounts.name, orders.total<br>
FROM web_events<br>
JOIN accounts<br>
ON web_events.account_id = accounts.id<br>
JOIN orders<br>
ON accounts.id = orders.account_id<br>
<br>
**NOTE**: ALWAYs have the PK equal to the FK! But, when joining multiple table that might not be necessary<br>
<br>
**Trick:**<br>
1. Alias: FROM tablename AS t1 JOIN tablename2 AS t2, or FROM tablename t1 JOIN tablename2 t2

**entity relationship diagram (ERD)**: A diagram that shows how data is structured in a database.<br>
**PK** here stands for primary key. A primary key exists in every table, and it is a column that has a unique value for every row. Generally, only one exist in each table, but some database might not enforce this.<br>
**FK**:A foreign key is a column in one table that is a primary key in a different table.<br>
<br>
<img src="https://video.udacity-data.com/topher/2017/August/59821d7d_screen-shot-2017-08-02-at-11.14.25-am/screen-shot-2017-08-02-at-11.14.25-am.png" width=600 /><br>

#### Recap
**Commands**
| Statement | How to Use It | Other Details |
| --- | --- | --- |
| SELECT | SELECT Col1, Col2, ... | Provide the columns you want |
| FROM | FROM Table | Provide the table where the columns exist |
| LIMIT | LIMIT 10 | Limits based number of rows returned |
| ORDER BY | ORDER BY Col | Orders table based on the column. Used with DESC. |
| WHERE | WHERE Col > 5 | A conditional statement to filter your results |
| LIKE | WHERE Col LIKE '%me%' | Only pulls rows where column has 'me' within the text |
| IN | WHERE Col IN ('Y', 'N') | A filter for only rows with column of 'Y' or 'N' |
| NOT | WHERE Col NOT IN ('Y', 'N') | NOT is frequently used with LIKE and IN |
| AND | WHERE Col1 > 5 AND Col2 < 3 | Filter rows where two or more conditions must be true< |
| OR | WHERE Col1 > 5 OR Col2 < 3 | Filter rows where at least one condition must be true |
| BETWEEN | WHERE Col BETWEEN 3 AND 5 | Often easier syntax than using an AND |