#### Lession 1 of [Udacity Free Course](https://classroom.udacity.com/courses/ud198)

Some of the most popular databases include:
1. MySQL
2. Access
3. Oracle
4. Microsoft SQL Server
5. Postgres<br>

For a comparision of their small difference, check out this [article](https://www.digitalocean.com/community/tutorials/sqlite-vs-mysql-vs-postgresql-a-comparison-of-relational-database-management-systems)<br>
<br>
**entity relationship diagram (ERD)**: A diagram that shows how data is structured in a database.<br>
<br>
<img src="https://video.udacity-data.com/topher/2017/August/59821d7d_screen-shot-2017-08-02-at-11.14.25-am/screen-shot-2017-08-02-at-11.14.25-am.png" width=600 /><br>

#### STATEMENTS (and pandas counter part)
1. CREATE TABLE is a statement that creates a new table in a database. (e.g. pd.DataFrame)
2. DROP TABLE is a statement that removes a table in a database. (e.g. df.drop() (not exact match))
3. SELECT allows you to read data and display it. This is called a query. indicates which column(s) you want to be given the data for. (e.g. df.loc[]). <br> 

#### CLAUSES: 
- SELECT *
1. **FROM** specifies from which table(s) you want to select the columns. Notice the columns need to exist in this table.
2. **ORDER BY** sort. default sort by accending, use ORDER BY <Column name> DESC for descending order <br>
always comes in a query after the SELECT and FROM statements, but before the LIMIT statement. 
3. **LIMIT** sort data. very last part of a query. e.g. SELECT * FROM orders LIMIT 10;
<br>

In [ ]:
# Setting up package
# !pip install psycopg2
# !pip install pygresql

In [ ]:
# Setting up the Parch & Posey database
# $ createdb parch
# $ psql parch < parch_and_posey.sql

In [ ]:
# examples: 
# SELECT id, account_id, total_amt_usd
# FROM orders
# ORDER BY total_amt_usd DESC 
# LIMIT 5;